<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55766277583-bdu6cjlqffc6aio2h3rtejs44d4lp4r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55766277583-bdu6cjlqffc6aio2h3rtejs44d4lp4r1</string>
	<key>API_KEY</key>
	<string>AIzaSyA4LfzAn06iC94jIE4P9683m3-YBpYxUJU</string>
	<key>GCM_SENDER_ID</key>
	<string>55766277583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Amine.app10000Codeurs</string>
	<key>PROJECT_ID</key>
	<string>codeurs-43bb2</string>
	<key>STORAGE_BUCKET</key>
	<string>codeurs-43bb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55766277583:ios:1b4f6a7e2030d1c84fc6ba</string>
</dict>
</plist>